body {
    background-color: black;
}
.start {
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}
.VOLUMEN {
    display: flex;    
    justify-content: center;
    align-items: center;
}
#Vol_det {
    color: black;
    background-color: cornflowerblue;
    cursor: pointer;
}
#ENTRY {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100vh;
    user-select: none;
    pointer-events: none;
    z-index: -1
}